{% extends 'layout.html.twig' %}

{% block content %}
    <div id="welcome">
        <h1>Wellcome to Test Image Loader</h1>
    </div>
    <div id="upload_button">
        <span>Upload</span>
        <input type="file" id="upload_input" name="files[]" accept="text/plain"/>
    </div>
    <div id="images_gallery">
    </div>
{% endblock %}